*{
    margin: 0;
}
 a{
    text-decoration:none;
    color: white;
}

a:hover{
    opacity: 60%;
}

.donate-btn{
    border: 0;
    background-color: #FF5959;
    border-radius: 2px;
    padding: 10px 12px;
    color: white;
}

.primary-title{
    color: #121212;
    margin-top: 150px;
    margin-bottom: 20px;
    text-align: center;

}


/* banner */

header{
    
}

.banner{
    background-image: url(../images/donation20.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:500px;
    text-align: center;
    padding-top: 250px;
    
}

.banner-title{
    font-weight: bolder;
    font-size: 50px;
    color: whitesmoke;

}
.banner-subtitle{
    font-weight: bolder;
    font-size: 40px;
    color: whitesmoke;
    margin-top: 10px;

}
.banner-description{
    color: #FFFFFF;
    opacity: 60%;
    margin-top: 10px;
    margin-bottom: 30px;

}

/* donate-today */

main{
    max-width: 1200px;
    margin: 0 auto;
}

.donate-today{
    text-align: center;
    margin-right: 250px;
    margin-left: 250px;

}

.donate-description{
    margin-bottom: 50px;
    color: gray;


}

.amount {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
    
    
    

}

.amount a{
    color: gray;
    font-size: 20px;
    font-weight: 800;
    background-color:#F9F9F9 ;
    padding: 30px;
    
}
.amount a:hover{
    background-color: #FFEDED;
    border: 3px solid #FF5959;
    border-radius: 4px;
    
}
.donate-today h4{
    opacity: 50%;

}
/* our donate plan */

.our-donate-plan{
    margin-bottom: 50px;

}

.donate-plan-description{
    text-align: center;
    margin-bottom: 70px;
}

.donate-plan-child{
    display: flex;
    gap: 20px;
    line-height: 150%;
    
}

.food-child{
    background-color:#EDF5F6 ;
    padding: 60px 20px;
}

.family-child{
    background-color:#FFEEEE;
    padding: 60px 20px;

}

.education-child{
    background-color: #FFF4D5;
    padding: 60px 20px;
}

/* contribution */
.contribution-container{
    display: flex;
    margin-bottom: 80px;
}

.left-child{
    
    margin-top: 100px;
    padding-right: 250px;
    line-height: 150%;

}

.right-child{
    margin-right: 150px
    
}

.right-child img{
    width: 500px;
    height: 400px;
    ;
    
}
.left-child2 img{
    width: 500px;
    height: 400px;
}

.right-child2{
    margin-right: 150px;
    padding-left: 45px;
    padding-top: 100px;
    line-height: 150%;
}

/* get my updates */
.Get-my-updates{
    text-align: center;
    margin: 100px 300px;
}
.Get-my-updates .title{
    margin-bottom: 20px;

}

.Get-my-updates .description{
    margin-bottom: 40px;
}
.subscription{
    display: flex;

    background-color: #FFF4D5;
    padding: 100px 170px 100px;
}

.subscription .email{
    border: 0;
    background-color: #D8D8D8;
    border-radius: 4px;
}

/* footer */

footer{
    background-color:#0A0C16 ;
    text-align: center;
}

footer .tittle{
    color: #FF5959;
    padding-top: 40px;
    
}

footer .sub-title{
    color: #D8D8D8;
    padding-bottom: 40px;
    
}